* {
    font-family: 'Nanum Gothic', sans-serif;
}

.mytitle {
    width: 300px;
    height: 200px;
    color: white;
    background-image: url('https://www.ancient-origins.net/sites/default/files/field/image/Agesilaus-II-cover.jpg');
    background-position: center;
    background-size: cover;
    
    border-radius: 10px;
    text-align: center;
    padding-top: 40px;
}

.wrap {
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    margin: 10px auto;
    width: 300px;
}