<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <!-- Optional JavaScript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <!-- Fontawesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
  <title>My favorite moviestar</title>
  <style>
    #add {
      display: none;
    }

    .center {
      text-align: center;
    }

    .star-list {
      width: 500px;
      margin: 20px auto;
    }

    .star-name {
      display: inline-block;
    }

    .star-name:hover {
      text-decoration: underline;
    }

    .card {
      margin-bottom: 15px;
    }

    .rank {
      margin-bottom: 10px;
      background-color: #ffe08a;
      width: 50px;
      text-align: center;
      border-radius: 5px;
      font-size: 13px;
      font-weight: bold;
      color: brown;
    }

    .button.is-primary {
      background-color: darkolivegreen;
    }

    .wrap_create {
      margin: 30px auto;
      width: 500px;
      border: solid 1px white;
      border-radius: 10px;
      padding: 5px;
    }
  </style>
</head>
<body>
  <section class="hero is-warning">
      <div class="hero-body">
          <div class="container center">
              <h1 class="title">
                  유명한 영화인👍🏻
              </h1>
              <h2 class="subtitle">
                  유명한 영화인들입니다.. 내 입맛대로 순위를 만들어보겠습니다..🤡
              </h2>
              <div class="control">
                <button id="create_button" class="button is-primary" onclick="openClose()">추가할려면 클릭</button>
              </div>
          </div>
      </div>
  </section>
  <div id="add" class="wrap_create">
    <div class="field">
      <label class="label">영화인 이름</label>
      <div class="control">
        <input id="starname" class="input" type="text" placeholder="영화인 이름을 입력해주세요.">
      </div>
    </div>
    <div class="control">
      <button onclick="addStar()" class="button is-primary">추가!</button>
    </div>
  </div>
  <div class="star-list" id="star-box">
      <div class="card">
          <div class="card-content">
              <div class="rank">
                1위
              </div>
              <div class="media">
                  <div class="media-left">
                      <figure class="image is-48x48">
                          <img src="https://search.pstatic.net/common/?src=https%3A%2F%2Fssl.pstatic.net%2Fsstatic%2Fpeople%2Fportrait%2F201807%2F20180731143610623-6213324.jpg&type=u120_150&quality=95" alt="Placeholder image"/>
                      </figure>
                  </div>
                  <div class="media-content">
                      <a href="#" target="_blank" class="star-name title is-4">김다미 (좋아요: 3)</a>
                      <p class="subtitle is-6">안녕, 나의 소울메이트(가제)</p>
                  </div>
              </div>
          </div>
          <footer class="card-footer">
              <a href="#" onclick="likeStar('김다미')" class="card-footer-item has-text-info">위로!
                  <span class="icon"><i class="fas fa-thumbs-up"></i></span>
              </a>
              <a href="#" onclick="hateStar('김다미')" class="card-footer-item has-text-danger">아래로..
                  <span class="icon"><i class="fas fa-thumbs-down"></i></span>
              </a>
              <a href="#" onclick="deleteStar('김다미')" class="card-footer-item has-text-primary">삭제
                <span class="icon"><i class="fas fa-ban"></i></span>
              </a>
          </footer>
      </div>
  </div>
  <script>
    $(document).ready(function() {
      showStar();
    });
    
    function openClose() {
      let status = $("#add").css("display");
      if (status == 'block') {
          $('#add').hide();
          $('#create_button').text('추가하려면 클릭');
      } else {
          $('#add').show();
          $('#create_button').text('닫기');
      }
    }

    function showStar() {
      $('#star-box').empty();

      $.ajax({
        type: 'GET',
        url: '/api/list',
        data: {},
        success: function(response) {
          let stars = response['stars_list'];
          let rank = 0;
          for (let i = 0; i < stars.length; i++) {
            rank++;
            let star = stars[i];
            let name = star['name'];
            let url = star['url'];
            let imgUrl = star['img_url'];
            let recent = star['recent'];
            let like = star['like'];
            
            let tempHtml = `<div class="card">
                              <div class="card-content">
                                <div class="rank">
                                  ${rank}위
                                </div>
                                <div class="media">
                                    <div class="media-left">
                                        <figure class="image is-48x48">
                                            <img src="${imgUrl}"/>
                                        </figure>
                                    </div>
                                    <div class="media-content">
                                        <a href="${url}" target="_blank" class="star-name title is-4">${name} (좋아요: ${like})</a>
                                        <p class="subtitle is-6">${recent}</p>
                                    </div>
                                </div>
                              </div>
                              <footer class="card-footer">
                                <a href="#" onclick="likeStar('${name}')" class="card-footer-item has-text-info">위로!
                                  <span class="icon"><i class="fas fa-thumbs-up"></i></span>
                                </a>
                                <a href="#" onclick="hateStar('${name}')" class="card-footer-item has-text-danger">아래로..
                                  <span class="icon"><i class="fas fa-thumbs-down"></i></span>
                                </a>
                                <a href="#" onclick="deleteStar('${name}')" class="card-footer-item has-text-primary">삭제
                                  <span class="icon"><i class="fas fa-ban"></i></span>
                                </a>
                              </footer>
                            </div>`;
            $("#star-box").append(tempHtml);
          }
        }
      });
    }

    function likeStar(name) {
      $.ajax({
        type: 'POST',
        url: '/api/like',
        data: {'name_give': name},
        success: function(response) {
          if (response['result'] == 'success') {
            alert('좋아요 완료!');
          }
          window.location.reload();
        }
      });
    }

    function hateStar(name) {
      $.ajax({
        type: 'POST',
        url: '/api/hate',
        data: {'name_give': name},
        success: function(response) {
          if (response['result'] == 'error') {
            alert('이미 좋아요 수가 0이에요..')
          } else {
            alert('싫어요 완료!');
          }
          window.location.reload();
        }
      });
    }

    function deleteStar(name) {
      $.ajax({
        type: 'POST',
        url: '/api/delete',
        data: {'name_give': name},
        success: function(response) {
          if (response['result'] = 'success') {
            alert('삭제 완료!');
          }
          window.location.reload();
        }
      });
    }

    function addStar() {
      let starname = $("#starname").val();

      $.ajax({
        type: 'POST',
        url: '/api/create',
        data: {'name_give': starname},
        success: function(response) {
          if (response['result'] == 'success') {
            alert("추가 완료!");
            window.location.reload();
          } else {
            alert("이미 추가된 영화인 입니다!");
          }
        }
      });
    }
  </script>
</body>
</html>